body {
    background-image: linear-gradient(55deg, #36BFB1, #038C73, #02735E, #014034, #0D0D0D);
    height: 100vh;
    width: auto;
    margin: 0;
    font: normal 14pt monospace;
}

#cabecalho {
    margin: 0;
    background-color: white;
    text-align: center;
}

#logo img{
    height: 200px;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu {
    background-color: black;
    margin: auto;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.menu ul {
    display: flex; /* Use flexbox para melhor controle */
    justify-content: center; /* Centralize os itens */
    gap: 35px; /* Espaçamento moderno entre itens */
    list-style-type: none;
    margin: 0;
}


.menu a{
    color: white;
    text-decoration: none;
}

.menu a:hover{
    color: greenyellow;
}

#container {
    width: 80dvw;
    height: auto;
    background-color: white;
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}


.conteudo-principal h1, h2 {
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
}

.conteudo-principal {
    margin-left: 10px;
    margin-right: 10px;'
}

.conteudo-principal p {
    text-align: justify;
}