div{
    width: 900px;
    margin: auto; /*alinha por igual direita e esquerda*/
    border-radius: 15px; /*Aplicando arredondamento nas bordas*/
    padding: 10px; /*Aplicando espaçamento interno, como se fosse uma moldura*/

}

.azul{
    background-color: black;
    height: 100px;

}

.azul img {
    height: 100px; /*Altura da imagem*/
    width: auto; /*Largura da imagem*/
    
}

.verde{
    background-color: rgb(15, 220, 15);
    margin-top: 15px; /*Aplicando margem ao topo da div*/
    margin-bottom: 15px; /*Aplicando margem a base da div*/
    height: 25px;
    text-align: center;
    color: white;
    font: 16pt Arial, Helvetica, sans-serif;
    /* vertical-align: middle; Alinhando verticalmente o texto */
    line-height: auto; /*Alinhando verticalmente o texto com a altura da div*/
}

.verde a{
    color: white;
    font-weight: bolder;
    text-decoration: none; /*Removendo o sublinhado do link*/
}

.verde a:hover{
    color: black; /*Mudando a cor do link quando o mouse passa por cima*/
}

.vermelho{
    background-color: #b3b3b3;
    height: auto; /*Altura automática para se ajustar ao conteúdo*/
}

.vermelho p{
    font: 16pt Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify; /*Alinhando o texto justificado*/
    margin: 10px; /*Aplicando margem ao texto*/
}

.filmes{
    background-color: palevioletred;
    margin-top: 10px; /*Aplicando margem ao topo da div*/
}