/* PALETA DE CORES
#1db954	(29,185,84) VERDE SPOTIFY
#212121	(33,33,33) PRETO MEDIO SPOTIFY
#121212	(18,18,18) PRETO SPOTIFY
#535353	(83,83,83)
#b3b3b3 */

body{
    font: 16pt Arial, Helvetica, sans-serif;
    background-color: #121212; /*Preto Spotify*/
    color: white; /*Cores fontes*/
}

#cabecalho{
    background-color: black;
    padding: 1rem 2rem; /*Espaçamento vertical e horixontal*/
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center; /*Alinhamento VERTICAL*/
    height: auto; /*O altura do cabeçalho irá se ajustar ao conteúdo*/
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* AJUSTANDO TAMANHO DO LOGO */
#cabecalho .logo img{
    width: 110px;
    height: auto;
    vertical-align: center;
}


.menu-lateral{
    margin-right: 60px;
}


.menu-lateral ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;    
    margin: 0;
    list-style: none;
    margin-top: 0.5rem;
}

/* MENU FORMATADO EM LINHA */
.menu-lateral ul li{
    display: inline-block;
}

/* LINKS DO MENU */
.menu-lateral ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
}

.menu-lateral ul li a:hover{
    color: #1db954;
}

.clear{
    clear: both;
}

#conteudo{
    background-image: url('../assets/img/img_listen-music_1_corte.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 8rem 2rem 2rem;
    text-align: center;
    max-width: auto;
    height: 40rem;
    
    /* border: 1px solid #1db954; */
}

#conteudo .texto{
    padding: 20rem;
    font-weight: bolder;
    /* Aplicando sombra gradiente no texto */
    text-shadow: 0 5px 10px black;
    -webkit-background-clip: text;
    background-clip: text;
}

#conteudo .texto a{
    font-size: small;
    font-weight: lighter;
    color: white;
}

#download {
    background-color: white;
    color: black;
    text-align: center;
    padding: 5rem;
}

#download h2{
    font-weight: bolder
}

#download p {
    font-size: medium;
    font-weight: lighter;
}

#download ul li{
    display: inline-block;
}

#download ul li a img{
    width: 150px;
    height: auto;
    padding: 10px;
}

#plataformas {
    background-image: url('../assets/img/img_gradiente_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* padding: 8.5rem; */
    font-weight: bolder;
    padding-top: 15rem;
}

#plataformas ul li{
    font-weight: bold;
    font-size: 10pt;
    display: inline-block;
    padding: 10px ;
}

#plataformas ul li a {
    text-decoration: none;
    color: white;
}

#plataformas ul li a:hover {
    color: aqua;
}

#plataformas-conteudo {
    padding-bottom: 0.3rem;
}

#sobreSpotify {
    font-size: 9pt;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

/* ZERANDO A MARGEM DA TABELA */
#sobreSpotify table {
    width: auto;
    margin: 0;
    padding: 0.5rem;
}

#sobreSpotify table thead{
    color: #535353;
}

#sobreSpotify table td {
    padding: 0.5rem 1.2rem;
}

#logo-table {
    width: 100px;
    height: auto;
}
#logo-instagram {
    width: 25px;
    height: auto;
    /* border: #b3b3b3 1px solid; */
    
}
#logo-X {
    width: 25px;
    height: auto;
}
#logo-facebook {
    width: 13px;
    height: auto;
}